# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.DS_Store
*.egg-info/
.env
.venv/

# Data & Models
data/processed/
data/live/*.csv
models/*.pkl
reports/*.html
reports/*.json

# DVC
.dvc/cache/
.dvc/tmp/
